<!DOCTYPE html>
<html lang='es'>
<head>
<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<script src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/addons/p5.sound.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/addons/p5.dom.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/addons/p5.sound.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/p5.capture@1.4.1/dist/p5.capture.umd.min.js'></script>
<script src='./funciones_utiles.js'></script>
<title>p5js_extras</title>
</head>
<body>
<script src='sketch.js'></script>
</body>
</html>
